/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    /*opacity: 0;*/
    width: 100%;
    height: 100%;
    z-index: 2000;
    /*background: rgba(255,255,255,0.85);*/
}

    #loader p {
        background: #999 url(Images/loader.gif) 25px center no-repeat;
        /*width: 350px;*/
        position: absolute;
        top: 50%;
        color: #FFF;
        padding: 50px 15px 50px 125px;
        border-radius: 10px;
        left: 50%;
        /*margin-left: -175px;*/
    }

    .error{
        color:red;
    }