@{
    ViewBag.Title = "Home Page";
}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">

            </div>
            <br><br><br><br>
            <div class="row center">
                <h1 class="header center white-text">Top Quality Building Materials</h1>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="~/Content/Images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class=" center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Topan Marketing Corporation</h5>

                    <p class="light">is dedicated to provide high quality formwork construction materials, different kinds of plywood and fiber-cement board. The Company is committed to service excellence as they deliver solutions to construction needs. It will continuously develop system and introduce new products that will lessen expenses hence increasing profitability for their clients and the construction industry. This company started April 1989 and still going strong….</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">TOPAN MARKETING CORPORATION</h5>

                    <p class="light">
                        is dedicated to provide high quality and affordable ORDINARY and MARINE Plywood Local Brand(Santa Clara, Agusan, Zambo, Mintrade, Winlex and Orgon) since 1989.

                        * For boat making (Fishing boats, sails boats, and etc.)
                        * House construction (Roofs, ceilings, subfloors, and etc.)
                        * Office or Home Furniture (Tables, cabinets and kitchen panels)

                        Available Sizes:
                        2.5mm, 4mm, 5mm, 9mm, 10mm, 11mm, 12mm and 18mm
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">NEW SANTA CLARA MARINE PLYWOOD “C” GRADE STICKER!</h5>

                    <p class="light">
                        In compliance to DTI’s marking and labelling requirements, our New Sticker specified the following:
                        Trade Mark: Santa Clara Plywood
                        Type of Plywood: Type 1 (Marine Plywood)
                        Grade: “C” grade
                        Thickness: thickness of the plywood (e.i. 5mm) located on the lower right of the sticker
                        Moisture Content: Compliant
                        Glue bond strength: Compliant
                        Formaldehyde Emission (FE): FE****
                        Name of the Manufacturer: SMWPI WOOD PRODUCTS, Inc.
                        Country Of Manufacturer: Philippines


                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/Images/bg2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">
                    Landline: 586-1282, 366-3663,| Mobile: Globe 09178889118, Sun 09338610861 | Fax: 366-3883

                    Address: 132 Sgt E. Rivera St, Manresa cor. Banawe Quezon City, Philippines
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/Images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>


